<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div>
    <h4> Current Projects </h4>
    <table>
      <thead>
        <tr>
          <th> Project Name </th>
          <th> Project Stage </th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="aProject : ${projectsList}">
          <td th:text="${aProject.name}" />
          <td th:text="${aProject.Stage}" />
        </tr>
      </tbody>
    </table>

    <h4> Current Employees </h4>
    <table>
      <thead>
        <tr>
          <th> First Name </th>
          <th> Last Name </th>
          <th> Email </th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="anEmployee : ${employeesList}">
          <td th:text="${anEmployee.firstName}" />
          <td th:text="${anEmployee.lastName}" />
          <td th:text="${anEmployee.email}" />
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
