<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: html-header"></head>

<body>
  <nav th:replace="layouts :: navbar"></nav>

  <div class="container">
    <form th:action="@{/employees/save}" th:object="${employee}" method="POST">
      <div class="form-group-row">
        <!--This will be used to bind to the employee that was clicked on (USED FOR UPDATES)-->
        <input type="hidden" th:field="${employee.employeeId}" name="">
        
        <input type="text" placeholder="First Name" th:field="${employee.firstName}">
        <input type="text" placeholder="Last Name" th:field="${employee.lastName}">
        <input type="text" placeholder="E-mail" th:field="${employee.email}">

        <!--<input type="hidden" name="_csrf" th:value="${_csrf.token}" /> -->
        <!--Thymeleaf automatically attaches token - above hidden input not required-->
        <button type="submit">Add New Employee</button>
      </div>
    </form>
  </div>
</body>
</html>
