<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: html-header"></head>

<body>
  <nav th:replace="layouts :: navbar"></nav>

  <div class="container">
    <form th:action="@{/projects/save}" th:object="${project}" method="POST">
      <input type="hidden" th:field="${project.projectId}" name="">

      <div class="form-group row">
        <input type="text" placeholder="Project Name" th:field="${project.name}">
        <span th:if="${#fields.hasErrors('name')}"
              th:errors="${project.name}"
              style="color:red;font-size:0.7em;">
        </span>
      </div>

      <div class="form-group row">
        <select th:field="${project.stage}">
          <option th:value="NOTSTARTED"> Not Started</option>
          <option th:value="INPROGRESS"> In Progress</option>
          <option th:value="COMPLETED"> Completed</option>
        </select>
      </div>

      <div class="form-group row">
        <textarea placeholder="Enter Project Description"
                  th:field="${project.description}"
                  rows="4" cols="30"></textarea>
        <span th:if="${#fields.hasErrors('description')}"
              th:errors="${project.description}"
              style="color:red;font-size:0.7em;">
        </span>
      </div>

      <div class="form-group row">
        <select th:field="*{employees}" multiple="multiple">
          <option th:each="employee : ${allEmployees}"
                  th:value="${employee.employeeId}"
                  th:text="${employee.firstName}"></option>
        </select>
      </div>

      Project Start Date:
      <div class="form-group row">
        <input id="dp3" type="text" class="mb-4 col-2 col-xs-4" value="Start Date" th:field="${project.startDate}">
      </div>

      Project End Date:
      <div class="form-group row">
        <input id="dp4" type="text" class="mb-4 col-2 col-xs-4" value="end Date" th:field="${project.endDate}">
      </div>

      <script type="text/javascript">
        $('#dp3').datepicker();
        $('#dp4').datepicker();
      </script>

      <button class="btn btn-info col-2" type="submit">Submit</button>

    </form>
  </div>
</body>
</html>
