<!DOCTYPE html>
<html lang="en">

<head th:replace="layouts :: html-header" />

<body>
  <nav th:replace="layouts :: navbar" />

  <div class="container">
    <h3>Projects Directory</h3>
    <hr>

    <a th:href="@{/projects/new}"
      class="btn btn-primary btn-sm mb-3">
      New Project
    </a>

    <h4> Current Projects </h4>
    <table class="table table-border table-striped">
      <thead class="thead-dark">
        <tr>
          <th> Project Name </th>
          <th> Project Stage </th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="aProject : ${projectsList}">
          <td th:text="${aProject.name}" />
          <td th:text="${aProject.Stage}" />
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>
